<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.wifi.swdev.android.wgapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity-->
<!--            android:name=".MainActivityBN"-->
<!--            android:label="@string/title_activity_main_b_n"/>-->
        <activity android:name=".calendar.CalendarAddActivity" />
        <activity android:name=".calendar.CalendarMainActivity" />
        <activity
            android:name=".qr.QrCodeListEditActivity"
            android:parentActivityName=".qr.QrCodeListActivity" />
        <activity
            android:name=".todolist.ShowItemTodoListActivity"
            android:parentActivityName=".todolist.TodoListMainActivity" />
        <activity
            android:name=".qr.QrCodeListActivity"
            android:parentActivityName=".shoppinglist.ShoppingListFragment" />
        <activity
            android:name=".qr.QrCodeAddTableActivity"
            android:parentActivityName=".shoppinglist.QrCodeItemsActivity" />
        <activity
            android:name=".shoppinglist.ShowItemShoppingListActivity"
            android:parentActivityName=".shoppinglist.ShoppingListFragment" />
        <activity
            android:name=".todolist.CustomTodoListActivity"
            android:parentActivityName=".todolist.TodoListMainActivity" />
        <activity android:name=".todolist.TodoListMainActivity" />
        <activity
            android:name=".shoppinglist.CustomShoppingListActivity"
            android:parentActivityName=".shoppinglist.ShoppingListFragment" />
        <activity
            android:name=".shoppinglist.QrCodeItemsActivity"
            android:parentActivityName=".shoppinglist.ShoppingListFragment" />
        <activity
            android:name=".shoppinglist.QrCodeScannerActivity"
            android:parentActivityName=".shoppinglist.ShoppingListFragment" />
        <activity
            android:name=".shoppinglist.ShoppingListFragment"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivityBN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>