<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.wifi.swdev.android.wgapp">

    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qr.QrCodeListEditActivity"
            android:parentActivityName=".qr.QrCodeListActivity" />
        <activity
            android:name=".todolist.ShowItemTodoListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".qr.QrCodeListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".qr.QrCodeAddTableActivity"
            android:parentActivityName=".qr.QrCodeListActivity" />
        <activity
            android:name=".shoppinglist.ShowItemShoppingListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".todolist.CustomTodoListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".shoppinglist.CustomShoppingListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".shoppinglist.QrCodeItemsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".shoppinglist.QrCodeScannerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".calendar.CalendarEditActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".calendar.CalendarAddActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>